<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ajusteTudo">

      <ion-col size="3">
        <ion-text class="fonte" id="espacamento">Endereço:</ion-text>
        <div>
          <form>
            <ion-list>
              <ion-item>
                <ion-input
                  type="text"
                  fill="solid"
                  label="Nome"
                  labelPlacement="floating"
                  helperText="Opcional"
                  name="nome"
                 
                  required
                ></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-input
                  type="tel"
                  fill="solid"
                  label="Telefone"
                  labelPlacement="floating"
                  helperText="Para contato"
                  name="telefone"
                  ngModel
                  required
                ></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-input
                  type="text"
                  fill="solid"
                  label="CEP"
                  labelPlacement="floating"
                  errorText="CEP inválido"
                  name="cep"
                  ngModel
                  required
                ></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-input
                  type="text"
                  fill="solid"
                  label="Número"
                  labelPlacement="floating"
                  name="numero"
                  ngModel
                  required
                ></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-input
                  type="text"
                  fill="solid"
                  label="Complemento"
                  labelPlacement="floating"
                  helperText="Opcional"
                  name="complemento"
                  ngModel
                ></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-select label="Entrega" name="entrega" ngModel required>
                  <ion-select-option value="Retirar">Retirar no local</ion-select-option>
                  <ion-select-option value="Delivery">Delivery</ion-select-option>
                </ion-select>
              </ion-item>
          
              <ion-col class="button">
                <ion-button
                  shape="round"
                  color="success"
                  type="submit"
                  class="ion-padding"
                >
                  Registrar Endereço
                </ion-button>
              </ion-col>
            </ion-list>
          </form>
          
        </div>
      </ion-col>

    <ion-col size="3" class="ajustarFrete">
      <ng-container>
        <ion-text class="fonte"> FINALIZAR PEDIDO </ion-text>
        <div  id="fundoFrete" >
          <div id="espacoInterno">
            <div>
              <ion-text class="espacoWords8"> Subtotal </ion-text>
              <ion-text> R$: </ion-text>
            </div>
            <br>

            <div>
              <ion-text class="espacoWords9"> Descontos </ion-text>
              <ion-text> R$: </ion-text>
            </div>
            <br>

            <div>
              <ion-text class="espacoWords5"> Frete </ion-text>
              <ion-text> R$: 7.00 </ion-text>
            </div>
            <br>

            <div>
              <ion-text class="espacoWords5"> Total </ion-text>
              <ion-text> R$: </ion-text>
            </div>
          
          </div>
        </div>

          <div class="botao">
            <ion-button color="success" shape="round" class="adicionar" routerLink="/cardapio">
              <!-- <ion-icon slot="end" name="cart-outline" color="light"></ion-icon> -->
              <ion-text color="light"> Finalizar </ion-text>
            </ion-button>
          </div>

      </ng-container>
    </ion-col>
  </ion-row>

  <app-footer></app-footer>

  <app-carrinho></app-carrinho>

  
</ion-content>